<!-- Sidebar (offcanvas on screens < 992px)-->
<aside class="col-lg-3 pe-lg-4 pe-xl-5 mt-n3">
    <div class="position-lg-sticky top-0">
        <div class="d-none d-lg-block" style="padding-top: 105px;"></div>
        <div class="offcanvas-lg offcanvas-start" id="sidebarAccount">
            <button class="btn-close position-absolute top-0 end-0 mt-3 me-3 d-lg-none"
                    type="button"
                    data-bs-dismiss="offcanvas"
                    data-bs-target="#sidebarAccount">
            </button>
            <div class="offcanvas-body">
                <div class="pb-2 pb-lg-0 mb-4 mb-lg-5">
                    <span class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                            href="#"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="width: 80px; height: 80px; background-image:url( {{ asset('assets/uploads/avatar/' ~ app.user.avatar ?? 'default-avatar.png') }} )">
                    </span>
                    <h3 class="h5 mb-1 text-capitalize">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                    <p class="fs-sm text-muted mb-0">{{ app.user.email }}</p>
                </div>
                <nav class="nav flex-column pb-2 pb-lg-4 mb-3">
                    <h4 class="fs-xs fw-medium text-muted text-uppercase pb-1 mb-2">Compte</h4>
                    <a class="nav-link fw-semibold py-2 px-0" href="{{ path('account_overview') }}">
                        <i class="ai-user-check fs-5 opacity-60 me-2"></i>
                        Vue d'ensemble
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="{{ path('account_settings') }}">
                        <i class="ai-settings fs-5 opacity-60 me-2"></i>
                        Paramètres
                    </a>
                    {#<a class="nav-link fw-semibold py-2 px-0" href="account-billing.html">
                        <i class="ai-card fs-5 opacity-60 me-2"></i>
                        Licence
                    </a>#}
                </nav>
                <nav class="nav flex-column">
                    <a class="nav-link fw-semibold py-2 px-0" href="{{ path('app_logout') }}">
                        <i class="ai-logout fs-5 opacity-60 me-2"></i>
                        Se déconnecter
                    </a>
                </nav>
            </div>
        </div>
    </div>
</aside>
