<!-- Footer-->
<footer class="footer bg-secondary py-5">
    <div class="container pt-1 pt-sm-2 pt-md-3 pt-lg-4 pt-xl-5">
        <div class="border-bottom text-center pb-4">
            <a class="navbar-brand d-inline-flex text-nav py-0 mb-3 mb-md-4" href="{{ path('app_home') }}">
                <span class="text-primary flex-shrink-0 me-2">
                  {#<img src="{{ asset('assets/img/logo/logo-club.svg') }}" alt="Logo du club" width="180">#}
                  <img src="{{ asset('assets/img/logo/new-logo.png') }}" alt="Logo du club" width="230">
                </span>
                {#<span>Club de Plongée Maubeugeois</span>#}
            </a>
            <ul class="nav justify-content-center py-1 pb-sm-2">
                <li class="nav-item">
                    <a class="nav-link py-2 px-3 mx-1" href="{{ path('app_home') }}">
                        Nage avec palmes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-3 mx-1" href="{{ path('app_home') }}">
                        Plongée sous marine
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-3 mx-1" href="#pricing">
                        Tarifs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-3 mx-1" href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        <div class="container text-center pt-5">
            <span class="text-muted">© Tous droits réservés. Réalisé avec <span class="text-danger">❤</span> par</span>
            <a class="nav-link d-inline p-0 text-primary" href="https://www.github.com/Papoel" target="_blank" rel="noopener">
                Papoel Consulting Service
            </a>
        </div>
    </div>
</footer>
