{% extends 'base.html.twig' %}

{% block title %} Réinitialisation du mot de passe {% endblock %}

{% block body %}
    <!-- Page wrapper-->
    <main class="page-wrapper">
        <!-- Page content-->
        <div class="d-flex flex-column align-items-center position-relative h-100 px-3 pt-5">
            <!-- Home button-->
            <a class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 zindex-2 p-0 mt-3 me-3 mt-sm-4 me-sm-4"
               href={{ path('app_home')}} data-bs-toggle="tooltip" data-bs-placement="left" title="Retour au site">
                <i class="ai-home"></i>
            </a>
            <!-- Content-->
            <div class="mt-auto" style="max-width: 700px;">
                <h1 class="pt-3 pb-2 pb-lg-3">Vous avez oublié votre mot de passe ?</h1>
                <p class="pb-2">
                    Modifiez votre mot de passe en trois étapes simples. Cela permet de sécuriser votre nouveau mot de passe.
                </p>
                <ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
                    <li class="d-flex mb-2">
                        <span class="text-primary fw-semibold me-2">
                            1.
                        </span>
                        Indiquez votre email ci-dessous.
                    </li>
                    <li class="d-flex mb-2">
                        <span class="text-primary fw-semibold me-2">
                            2.
                        </span>
                        Nous vous enverrons un lien par email.
                    </li>
                    <li class="d-flex mb-2">
                        <span class="text-primary fw-semibold me-2">
                            3.
                        </span>
                        Utilisez ce lien pour modifier votre mot de passe sur notre site web sécurisé.
                    </li>
                </ul>

                {% include('partials/_flash-messages.html.twig') %}

                <div class="card dark-mode border-0 bg-dark">
                    {{ form_start(form, {'attr': {'class': 'card-body', 'novalidate': ''}}) }}

                        <fieldset class="mb-4">
                            <div class="position-relative">
                                <i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y text-light opacity-80 ms-3"></i>
                                {{ form_widget(form.email, {
                                    'attr': {
                                        'class': 'form-control form-control-lg ps-5',
                                    }
                                }) }}
                            </div>

                            {{ form_errors(form.email) }}

                        </fieldset>

                        <button class="btn btn-light" type="submit">Obtenir un nouveau mot de passe</button>

                    {{ form_end(form) }}
                </div>
            </div>
            <!-- Copyright-->
            <p class="w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 700px;">
                <span class="text-muted">&copy; Tous droits réservés. Réalisé par</span>
                <a class="nav-link d-inline-block p-0 ms-1" href="https://github/Papoel" target="_blank">
                    Papoel
                </a>
            </p>
        </div>
    </main>
{% endblock %}
