<div class="card-body">

    <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
        <i class="ai-lock-closed text-primary lead pe-1 me-2"></i>
        <h2 class="h4 mb-0">Changer le mot de passe</h2>
    </div>

    {{ form_start(changePasswordForm) }}
        {% for message in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="row align-items-center g-3 g-sm-4 pb-3">
            {# TODO: Afficher un message flash en cas d'erreur #}
            <div class="col-sm-6">
                <label class="form-label" for="{{ changePasswordForm.currentPassword.vars.id }}">
                    {{ changePasswordForm.currentPassword.vars.label }}
                </label>
                {{ form_errors(changePasswordForm.currentPassword) }}
                <div class="password-toggle">
                    {{ form_widget(changePasswordForm.currentPassword, {'attr': {'class': 'form-control form-control-lg ps-5', 'autocomplete': 'current-password'}}) }}
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox">
                        <span class="password-toggle-indicator"></span>
                    </label>
                </div>
                {% if form_errors(changePasswordForm.currentPassword) %}
                    <div class="alert alert-danger">{{ form_errors(changePasswordForm.currentPassword) }}</div>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="{{ changePasswordForm.newPassword.first.vars.id }}">
                    {{ changePasswordForm.newPassword.first.vars.label }}
                </label>
                {{ form_errors(changePasswordForm.newPassword.first) }}
                <div class="password-toggle">
                    {{ form_widget(changePasswordForm.newPassword.first, {'attr': {'class': 'form-control form-control-lg ps-5', 'autocomplete': 'new-password'}}) }}
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox">
                        <span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row align-items-center g-3 g-sm-4 pb-3">
            <div class="col-sm-6">
                <label class="form-label" for="{{ changePasswordForm.newPassword.second.vars.id }}">
                    {{ changePasswordForm.newPassword.second.vars.label }}
                </label>
                {{ form_errors(changePasswordForm.newPassword.second) }}
                <div class="password-toggle">
                    {{ form_widget(changePasswordForm.newPassword.second) }}
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox">
                        <span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end pt-3">
            <button class="btn btn-secondary" type="button">Annuler</button>
            <button class="btn btn-primary ms-3" type="submit">Sauvegarder</button>
        </div>

    {{ form_end(changePasswordForm) }}

</div>
