{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    {% include('pages/header/navbar.html.twig') %}

    <main class="page-wrapper mt-5">
        <section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Le calendrier du club de Maubeuge</h1>
                <a class="btn btn-outline-success" href="{{ path('app_calendar_new') }}">Créer une nouvelle entrée</a>
            </div>

            <table class="table table-hover align-middle text-center">
                <thead class="table-dark">
                    <tr class="align-middle text-center fs-md">
                        <th>#</th>
                        <th>Titre</th>
                        <th style="min-width: 180px;">Début</th>
                        <th style="min-width: 180px;">Fin</th>
                        <th>Description</th>
                        <th>Journée</th>
                        <th>Répété</th>
                        <th>Jours</th>
                        <th>Fond</th>
                        <th>Bordure</th>
                        <th>Texte</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for calendar in calendars %}
                    <tr class="fs-sm">
                        <td>{{ calendar.id }}</td>
                        <td>{{ calendar.title }}</td>
                        {% if calendar.recurrent %}
                            <td>{{ calendar.start ? calendar.start|date('d-m-Y' ~ ' à ' ~'H:i')|replace({':':'h'}) : '' }}</td>
                        {% else %}
                            <td>{{ calendar.start ? calendar.start|date('d-m-Y' ~ ' à ' ~'H:i')|replace({':':'h'}) : '' }}</td>
                        {% endif %}

                        {% if calendar.recurrent %}
                            <td>{{ calendar.endRecur|date('d-m-Y') }} à {{ calendar.endTime|date('H:i')|replace({':':'h'}) }}</td>
                        {% else %}
                            <td>{{ calendar.end ? calendar.end|date('d-m-Y' ~ ' à ' ~'H:i')|replace({':':'h'}) : '' }}</td>
                        {% endif %}
                        <td>{{ calendar.description }}</td>
                        <td>{{ calendar.allDay ? 'Oui' : 'Non' }}</td>
                        {% if calendar.recurrent %}
                            <td>{{ calendar.recurrent ? 'Oui' : 'Non' }}</td>
                            <td class="text-start">
                            {% for day in calendar.daysOfWeek %}
                                {# in dayOfWeeks return Dimache for 0, Lundi for 1 ... Samedi for 6 and separate days with comma #}
                                {% if day == 0 %}
                                    Dimanche
                                {% elseif day == 1 %}
                                    Lundi
                                {% elseif day == 2 %}
                                    Mardi
                                {% elseif day == 3 %}
                                    Mercredi
                                {% elseif day == 4 %}
                                    Jeudi
                                {% elseif day == 5 %}
                                    Vendredi
                                {% elseif day == 6 %}
                                    Samedi
                                {% endif %}
                                {% if not loop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>/</td>
                            <td>/</td>
                        {% endif %}
                        <td>
                            <div class="bg-{{ calendar.backgroundColor }}" style="
                                margin: auto;
                                width: 1rem;
                                height: 1rem;
                                border-radius: 50%;
                                {% if calendar.backgroundColor == 'white' %}
                                    border: 1px solid #000000;
                                {% endif %}
                            "></div>
                        </td>
                        <td>
                            <div class="bg-{{ calendar.borderColor }}" style="
                                margin: auto;
                                width: 1rem;
                                height: 1rem;
                                border-radius: 50%;
                                {% if calendar.borderColor == 'white' %}
                                    border: 1px solid #000000;{% endif %}
                            "></div>
                        </td>
                        <td>
                            <div class="bg-{{ calendar.textColor }}" style="
                                margin: auto;
                                width: 1rem;
                                height: 1rem;
                                border-radius: 50%;
                                background-color: {{ calendar.textColor }};
                                {% if calendar.textColor == 'white' %}
                                    border: 1px solid #000000;
                                {% endif %}
                            "></div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-primary w-25"
                                   href="{{ path('app_calendar_show', {'id': calendar.id}) }}">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                <a class="btn btn-warning w-25"
                                   href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">
                                    <i class="bi bi-pencil"></i>
                                </a>

                                <form method="post" action="{{ path('app_calendar_delete', {'id': calendar.id}) }}" class="p-0 m-0"
                                      onsubmit="return confirm('Êtes-vous sûr de vouloir effacer cette entrée?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
                                    <button class="btn btn-danger w-25">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Aucune données trouvées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
