<!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
<header class="navbar navbar-expand-lg fixed-top navbar-ignore-dark-mode ignore-dark-mode">
    <div class="container">
        <!-- Logo du club -->
        <a class="navbar-brand pe-sm-3" href="{{ path('app_home') }}">
            <span class="text-primary flex-shrink-0 me-2">
                {# <img src="{{ asset('assets/img/logo/logo-club.svg') }}" alt="Logo du club" width="80"> #}
                <img src="{{ asset('assets/img/logo/new-logo.png') }}" alt="Logo du club" width="120">
            </span>
        </a>
        <!-- Fin logo du club -->

        <!-- Switcher Dark/Light mode -->
        <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
            <input class="form-check-input" type="checkbox" id="theme-mode">
            <label class="form-check-label" for="theme-mode"><i class="ai-sun fs-lg"></i></label>
            <label class="form-check-label" for="theme-mode"><i class="ai-moon fs-lg"></i></label>
        </div>
        <!-- Fin switcher Dark/Light mode -->

        <!-- Bouton de connexion -->
        {# TODO: Verifier si l'utilisateur est connecté ou s'il est authentifié #}
        {% if not app.user or not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex"
               href="{{ path('app_login') }}" rel="noopener">
                <i class="ai-user fs-xl me-2 ms-n1"></i>
                Se connecter
            </a>
        {% else %}
            <!-- User signed in state. Account dropdown on screens > 576px-->
            <div class="dropdown nav d-none d-sm-block order-lg-3">
                <a class="nav-link d-flex align-items-center p-0"
                   href="#" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img class="border rounded-circle" src="{{ asset('assets/img/site/default-avatar.png') }}"
                         width="48" alt="Avatar utilisateur">
                    <div class="ps-2">
                        <div class="fs-xs lh-1 opacity-60">Salut,</div>
                        <div class="fs-sm dropdown-toggle">{{ app.user.firstname|capitalize }}</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end my-1">
                    <h6 class="dropdown-header fs-xs fw-medium text-muted text-uppercase pb-1">Compte</h6>
                    <a class="dropdown-item" href="{{ path('account_overview') }}">
                        <i class="ai-user-check fs-lg opacity-70 me-2"></i>
                        Mon compte
                    </a>
                    <a class="dropdown-item" href="{{ path('account_settings') }}">
                        <i class="ai-settings fs-lg opacity-70 me-2"></i>
                        Mes informations
                    </a>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header fs-xs fw-medium text-muted text-uppercase pb-1">Ordinateur de bord</h6>
                    <a class="dropdown-item" href="#">
                        <i class="ai-cart fs-lg opacity-70 me-2"></i>
                        Licence
                    </a>
                    {# <a class="dropdown-item" href="account-earnings.html">
                        <i class="ai-activity fs-lg opacity-70 me-2"></i>
                        Carnet de plongée
                    </a> #}
                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="ai-logout fs-lg opacity-70 me-2"></i>
                        Déconnexion
                    </a>
                </div>
            </div>
        {% endif %}
        <!-- Fin bouton de connexion -->

        <button class="navbar-toggler ms-sm-3"
                type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active"
                       href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        Les activités du club
                    </a>
                    <div class="dropdown-menu overflow-hidden p-0">
                        <div class="d-lg-flex">
                            <div class="mega-dropdown-column pt-1 pt-lg-3 pb-lg-4">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a class="dropdown-item" href="#">Nage avec palmes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Plongée sous-marine</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                {# <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" data-bs-toggle="dropdown"
                       data-bs-auto-close="outside"
                       aria-expanded="false">Nos événements</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">
                #}{# <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="portfolio-list-v1.html">List View v.1</a></li>
                                <li><a class="dropdown-item" href="portfolio-list-v2.html">List View v.2</a></li>
                                <li><a class="dropdown-item" href="portfolio-grid-v1.html">Grid View v.1</a></li>
                                <li><a class="dropdown-item" href="portfolio-grid-v2.html">Grid View v.2</a></li>
                                <li><a class="dropdown-item" href="portfolio-slider.html">Slider View</a></li>
                                <li><a class="dropdown-item" href="portfolio-single-v1.html">Single Project v.1</a></li>
                                <li><a class="dropdown-item" href="portfolio-single-v2.html">Single Project v.2</a></li>
                            </ul> #}{#
                </li>
            </ul>
        </li> #}
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
            <div class="d-sm-none p-3 mt-n3">
                <a class="btn btn-primary w-100  mb-1"
                   href="{{ path('app_login') }}"
                   rel="noopener">
                    <i class="ai-user fs-xl me-2 ms-n1"></i>
                    Se connecter
                </a>
            </div>
        </nav>
    </div>
</header>
